.header
  padding: 20px
  overflow: hidden
  +TAB_MIN
    padding: 20px 50px
  
  &__flex
    display: flex
    justify-content: flex-end
    align-items: center
    
  &__input
    
    transition: 0.4s ease all
    color: $greenDark
    +TAB_MIN
      opacity: 0
      display: inline-block
      transform: scale(0)
      transform-origin: right
      pointer-events: none
      width: 200px
      &.-show
        opacity: 1
        transform: scale(1)
        pointer-events: all
    
  &__link
    &.-user
      +user_hover
    
  &__icon
    +font(size 24px)
    max-height: 40px
    max-width: 40px
    border-radius: 50%
    margin-left: 20px
    color: $blue
    &.-search
      +PHONE_ONLY
        display: none