.header
  .header__flex.wow.bounceInRight(data-wow-delay='0.6s')

    form.header__form(action='./')
      input.header__input.form-control(type='text' placeholder='Search...')
      - var searchSrc = imgDir + 'header__search.svg';
      img.header__icon.-search(src=searchSrc alt='icon' data-toggle='tooltip' data-placement='bottom' title='Search!')

    - var alertSrc = imgDir + 'header__alert.svg';
    a.header__link(href='#')
      img.header__icon(src=alertSrc alt='icon' data-toggle='tooltip' data-placement='bottom' title='Alert!')

    - var infoSrc = imgDir + 'header__info.svg';
    a.header__link(href='#')
      img.header__icon(src=infoSrc alt='icon' data-toggle='tooltip' data-placement='bottom' title='Info!')

    - var userSrc = imgDir + 'header__user.jpg';
    a.header__link.-user(href='#')
      img.header__icon(src=userSrc alt='icon' data-toggle='tooltip' data-placement='bottom' title='User!')