.nav
  background: $blueLight
  position: relative
  overflow: hidden
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $white
    display: none
    z-index: 100
    +TAB_MIN
      display: none !important
  
  &__button
    +flex-center
    margin-left: auto
    width: 50px
    height: 50px
    font-size: 24px
    background: $blue
    color: $white
    cursor: pointer
    +TAB_MIN
      display: none
  
  &__list
    padding: 0
    margin: 0
    +PHONE_ONLY
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
      background: $blueLight
      text-align: center
    +TAB_MIN
      display: flex !important
      justify-content: center
  
  &__item
    display: block
  
  &__link
    +flex-center
    +font(size 18px)
    text-transform: uppercase
    height: 70px
    z-index: 2
    position: relative
    transition: 0.3s ease all
    +PHONE_ONLY
      width: 220px
    +TAB_MIN
      padding: 0 20px
    &:hover
      text-decoration: none