nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link(href='#home') offers
    li.nav__item
      a.nav__link(href='#about') payment options
    li.nav__item
      a.nav__link(href='#offer') markets
    li.nav__item
      a.nav__link(href='#contact') customer support
    li.nav__item
      a.nav__link(href='#contact') the bottom line
