.aside
  background: $blueDark
  overflow: hidden
  +TAB_MIN
    width: 15%
  
  &__box
    padding: 20px 0
    text-align: center
    +TAB_MIN
      position: fixed
      top: 0
      left: 0
      width: inherit
      padding: 60px 0
  
  &__user
    +user_hover
    width: 50px
    height: 50px
    border-radius: 50%
    +TAB_MIN
      width: 100px
      height: 100px
  
  &__info
    +font(size 24px)
    +flex-center
    color: $yellow
    margin-top: 30px
  
  &__count
    margin-left: 20px