.aside

  .aside__box
    - var imgSrc = imgDir + 'aside__user.jpg';
    a.aside__link(href='#')
      img.aside__user.wow.bounceInLeft(src=imgSrc alt='user' data-wow-delay='0.6s')

    .aside__info.wow.bounceInLeft(data-wow-delay='0.9s')
      .aside__currency
        - var imgSrc = imgDir + 'aside__currency.svg';
        img.aside__currecnyImg(src=imgSrc alt='currency')

      .aside__count(data-toggle='tooltip' data-placement='bottom' title='Actual cash!') 903,967