body
  +fontExo2
  color: $white
  +TAB_MIN
    display: flex
    align-content: stretch

*::selection
  background: $green
  color: $yellow

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

main
  +TAB_MIN
    width: 85%

img
  display: inline-block