extends ../layout/body

block headScripts

block content
  include ../components/info/info
  include ../components/banner/banner
  include ../components/ratings/ratings
  include ../components/nav/nav
  include ../components/settings/settings-offer
  include ../components/settings/settings-payment
