=user_hover
  transition: 0.5s ease all
  &:hover
    filter: grayscale(1)

=background($args: ())
  $offsets: attachment clip color image orgin position repeat size
  +matching($args, $offsets, $another: background-)

=size($args: ())
  $offsets: min-height height max-height min-width width max-width
  +matching($args, $offsets, $another: null)

=transition($time)
  transition: $time ease all

@function is-valid-length($value)
  @return type-of($value) == "number" and not unitless($value) or index(auto initial inherit 0, $value) != false

=matching($args, $offsets, $another)
  @each $offset in $offsets
    $index: index($args, $offset)
    @if $index
      @if $index == length($args) and $another == null
        #{$offset}: 0
      @else
        $next: nth($args, $index + 1)
        @if is-valid-length($next)
          #{$another}#{$offset}: $next
        @else if index($offsets, $next) and $another == null
          #{$offset}: 0
        @else
          @warn "Invalid value `#{$next}` for offset `#{$offset}`."
