.banner
  +section-padding
  background: $green
  
  &__row
    +PHONE_ONLY
      text-align: center
    +TAB_MIN
      display: flex
      align-items: center
      
  &__img
    max-width: 100%
  
  &__button
    text-transform: uppercase
    +PHONE_ONLY
      margin-top: 15px