.banner

  .banner__row.row
    .col-xs-12.col-md-3
      - var imgSrc = imgDir + 'banner__img.png';
      img.banner__img(src=imgSrc alt='banner')
    .col-xs-12.col-md-3
      a.banner__button.btn.btn-lg.btn-success Bet now at bet365