.offer
  .row
    - for(var i = 1; i <= 4; i++)
      - var itemDelay = i * 0.3 + 's';
      .col-xs-12.col-md-6.col-lg-3
        .offer__item.wow.bounceInRight(data-wow-delay=itemDelay)
          - var imgSrc = imgDir + 'offer__img.svg';
          img.offer__img(src=imgSrc alt='offer')
          .offer__title $30 FREE BET
          .offer__button
            a.btn.btn-lg.btn-default Read more
          .offer__button
            a.btn.btn-lg.btn-success Claim now