.offer
  overflow: hidden
  
  &__item
    text-align: center
    border: 1px solid $gray
    border-radius: 20px
    padding: 20px
    margin-top: 90px
    position: relative
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: $gray
      z-index: -1
      border-radius: inherit
      transition: 0.3s ease all
      transform: scale(0)
      transform-origin: bottom
    &:hover
      .offer__img
        transform: rotate(15deg) scale(1.1)
      &:after
        top: 0
        transform: scale(1)
  
  &__img
    margin-bottom: 30px
    margin-top: -90px
    transition: 0.3s ease all
  
  &__title
    +font(size 20px)
    color: $grayDark
  
  &__button
    text-transform: uppercase
    margin-top: 15px