.ratings
  +section-padding
  position: relative
  background-color: $greenDark
  overflow: hidden
  
  &__bg
    +section-bg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
  
  &__col
    +TAB_MAX
      margin-bottom: 30px
    
    &:last-child
      +TAB_MAX
        margin: 0
      
      .ratings__text
        border: none
  
  &__title
    +font(size 24px)
    text-transform: uppercase
    margin-bottom: 20px
  
  &__text
    +PC_MIN
      padding-right: 20px
      border-right: 1px solid transparentize($gray, 0.8)
      min-height: 100px