.ratings
  .ratings__bg.wow.fadeInRight(style='background-image: url('+ imgDir +'ratings__bg.png)' data-wow-delay='1.2s')
  .row
    - for(var i = 1; i <= 3; i++)
      .ratings__col.col-xs-12.col-lg-4
        h1.ratings__title Some title
        .ratings__text
          +lorem(20)