.title
  +font(size 30px weight 300)
  display: inline-block
  border-radius: 40px
  padding: 15px 30px
  background: $blueLight
  color: $grayDark
  position: relative
  z-index: 1
  text-transform: uppercase
  &:before
    content: ''
    position: absolute
    background: inherit
    top: 0
    left: -350%
    height: 100%
    width: 400%
    z-index: -1