.payment.table-responsive.wow.bounceInLeft(data-wow-delay='0.6s')
  table.table.table-striped
    thead
      tr
        th #
        th First Name
        th Last Name
        th Username
    tbody
      tr
        th(scope='row') 1
        td Mark
        td Otto
        td @mdo
      tr
        th(scope='row') 2
        td Jacob
        td Thornton
        td @fat
      tr
        th(scope='row') 3
        td Larry
        td the Bird
        td @twitter