.info
  +section-padding
  background: $blue
  position: relative
  
  &__row
    +PHONE_ONLY
      text-align: center
    +TAB_MIN
      display: flex
      align-items: center
  
  &__title
    +font(size 18px)
    color: $gray
    text-transform: uppercase
    
  &__msg
    +font(size 20px)
    
  &__button
    text-transform: uppercase
    +PHONE_ONLY
      margin-top: 15px
      
  &__close
    +flex-center
    position: absolute
    
    right: 20px
    font-weight: 700
    height: 30px
    width: 30px
    border-radius: 50%
    border: 2px solid $white
    transition: 0.4s ease all
    cursor: pointer
    +PHONE_ONLY
      bottom: 20px
    +TAB_MIN
      top: 20px
    &:hover
      opacity: 0.5