.info

  .info__row.row
    .info__column.col-xs-12.col-md-9
      .info__title
        +lorem(5)
      .info__msg
        +lorem(10)

    .info__column.col-xs-12.col-md-3
      a.info__button.btn.btn-lg.btn-success Take the challenge

    .info__close X